@media screen and (max-width: 768px) {
    .kockica1,.kockica2,.kockica3,.carosel{
      display: none;
    }
    .razmak{
        padding-top:100px;
        width: 100%;
        margin-left:none
    }
    .tekst{
        font-size: smaller;
    }
    .h1{font-size: medium;}
  
  }